<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyWCFService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://kh-zhang-pc:81/MYWcfService.MyWCFService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyWCFService"
                contract="MyWCFReference.IMyWCFService" name="BasicHttpBinding_IMyWCFService" />
        </client>
    </system.serviceModel>
</configuration>